/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #fff;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

/* header styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    /* by default root font size 16px, so 48px = 2.8rem */
    font-size: 2.8rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    color: #727272;
    text-align: center;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

/* main styles */
main{
    max-width: 1440px;
    margin: 0 auto;
}

/* teams styles */
.teams-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title{
    color:#727272;
font-size: 2.8rem;
font-weight: 500;
}

.teams-title .of-our{
color: #131313;
font-weight: 700;
}

.teams-title .text-features{
    color: #FF900E;
font-weight: 700;
}

.teams-description{
    color:#727272;
}

/* responsive media queries */
/* small devices styles */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }
}


/* medium devices styles */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }
}