/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Work Sans', sans-serif;
}

.section-title {
    color: #131313;
    /* by default root font size 16px, so 48px = 2.8rem */
    font-size: 2.8rem;
    font-weight: 700;
}

.text-light-gray {
    color: #727272;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #fff;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

/* header styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

/* main styles */
main {
    max-width: 1280px;
    margin: 70px auto;
}

/* teams styles */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 2.8rem;
    font-weight: 500;
}

.teams-title .text-features {
    color: #FF900E;
    font-weight: 700;
}

/* .facts styles */

.facts-card-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 180px;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card-stats {
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin: 10px 0px;
}

.facts-card-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;
}

/* sponsors styles */
.sponsors {
    text-align: center;
}

.sponsors-img-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
    gap: 40px;
}

/* features section styles */
.features {
    display: flex;
    margin-top: 130px;
    gap: 100px;
}

.features .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features .card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
}

.features-img img {
    margin-left: 90px;
}

.ten-years-badge {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    width: 340px;
    padding: 40px;
    position: relative;
    bottom: 100px;
}

.ten-years-badge h2 {
    font-size: 4rem;
    margin: 0px;
}

.ten-years-badge p {
    font-size: 1.5rem;
    margin-bottom: 0px;
}

footer {
    max-width: 1280px;
    margin: 0px auto;
    text-align: center;
    border-radius: 8px;
    background: #FFF4E7;
    padding: 40px 10px;
}

/* responsive media queries */
/* small devices styles */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsors-img-container,
    .features {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .features-img img {
        width: 90%;
        margin-left: 0px;
    }

    .ten-years-badge {
        position: static;
        width: 300px;
    }

    .facts-card-container {
        gap: 20px;
    }

    .sponsors-img-container img {
        width: 165px;
    }
}


/* medium devices styles */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container,
    .sponsors-img-container,
    .features {
        flex-direction: column;
    }
}